<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <title>Document</title>
</head>

<body>
    <form>
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
    </form>
    <button onclick="makePayment()">Pay now</button>
    <script>
        let form = document.forms[0]
        console.log(form)
        let name = form['name']
        let email = form['email']
        function makePayment() {
            console.log(name.value, email.value);
            FlutterwaveCheckout({
                public_key: "FLWPUBK-4665a5bfdd9fe8535fa8c74f0d845b09-X",
                tx_ref: `tx-${new Date().getSeconds()}`,
                amount: 50,
                currency: "NGN",
                payment_options: "card, mobilemoneyghana, ussd",
                // redirect_url: "https://my-render-app-w4yy.onrender.com/verify",
                // meta: {
                //     consumer_id: 23,
                //     consumer_mac: "92a3-912ba-1192a",
                // },
                customer: {
                    email: email.value,
                    phone_number: "07016793402",
                    name: name.value,
                },
                customizations: {
                    title: "Tencis Stores",
                    description: "Payment for Tencis Stores",
                    logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
                },
                callback: function (payment) {
                    // Send AJAX verification request to backend
                    console.log(payment)
                    open(`https://my-render-app-w4yy.onrender.com/verify/${payment.transaction_id}`, '_parent')
                },
            });
        }
    </script>

</body>

</html>